<div class="container">
  <div class="row">
    <a class="btn btn=primary" routerLink="/admin">Back to List</a>
  </div>
  <div>
    <div class="form-group">
      <label>Name</label>
      <div class="form-control">{{userReg.name}}</div>
    </div>
    <div class="form-group">
      <label>Surname</label>
      <div class="form-control">{{userReg.surname}}</div>
    </div>
    <div class="form-group">
      <label>Email</label>
      <div class="form-control">{{userReg.email}}</div>
    </div>
    <div class="form-group">
      <label>Phone</label>
      <div class="form-control">{{userReg.phone}}</div>
    </div>
    <div class="form-group">
      <label>Gender</label>
      <div class="form-control">{{userReg.gender}}</div>
    </div>
    <div class="form-group">
      <label>Age</label>
      <div class="form-control">{{userReg.age}}</div>
    </div>
    <div class="form-group">
      <label>Birth</label>
      <div class="form-control">{{userReg.birth}}</div>
    </div>
  </div>
</div>