<div class="container">
  <table class="table table-bordered table-inverse">
    <tr>
      <th>Name</th>
      <th>Surname</th>
      <th>Email</th>
      <th class="text-right">Birth</th>
    </tr>
    <tr *ngFor="let user of users">
      <td>
        <a [routerLink]="['/admin/view', user.id]">{{user.name}}</a>
      </td>
      <td>
        {{user.surname}}
      </td>
      <td>
        {{user.email}}
      </td>
      <td class="text-right">
        {{user.birth}}
      </td>
    </tr>
  </table>
</div>