<div class="container">
  <form [formGroup]="userForm" (ngSubmit)="submitRegistration()" novalidate>
    <div *ngIf="validMessage != ''">
      <h3 class="has-info">{{validMessage}}</h3>
    </div>
    <div class="form-group">
      <label>Name</label>
      <input type="text" class="form-control" formControlName="name" required autofocus/>
    </div>
    <div class="form-group">
      <label>Surname</label>
      <input type="text" class="form-control" formControlName="surname" required autofocus/>
    </div>
    <div class="form-group">
      <label>Email</label>
      <input type="email" class="form-control" formControlName="email" required/>
    </div>
    <div class="form-group">
      <label>Phone</label>
      <input type="text" class="form-control" formControlName="phone" required/>
    </div>
    <div class="form-group">
      <label>Gender</label>
      <select class="form-control" formControlName="gender" required>
        <option value="">Please select a gender</option>
        <option *ngFor="let gen of genderTypes"
                [value]="gen">
                {{gen}}
        </option>
      </select>
    </div>
    <div class="form-group">
      <label>Age</label>
      <input type="text" class="form-control" formControlName="age" required/>
    </div>
    <div class="form-group">
      <label>Birth</label>
      <input type="text" class="form-control" formControlName="birth" required/>
    </div>
    <button type="submit" class="btn btn-primary" >Submit</button>
  </form>
</div>